@import "tailwindcss";

<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
>>>>>>> main

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b21b6;
}